{% extends "layout.html" %}

{% block categoria %}
<div class="py-5">
  <h3>Categoria:</h3>
  <h1 style="color:blue">{{ lista_productos.nombre }}</h1>
</div>
    
{% endblock %}
{% block content %}
  <div class="row py-5">
    {% if lista_productos %}
    {% for producto in lista_productos.producto_set.all %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <h3>{{ producto.nombre }}</h3>
          </h4>
          <h5>Precio: s/. {{ producto.precio }}</h5>
          <p class="card-text">Stock: {{ producto.stock }}</p>
          <p class="card-text">Categoria: {{ producto.categoria.nombre }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
{% endblock %}


